body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(30, 38%, 92%);
}

.container_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 600px;
  border-radius: 15px;
}

.img1 {
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px 0px 0px 10px;
}

#image_2 {
  display: none;
}

.article {
  border-radius: 0px 10px 10px 0px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.perfume {
  margin: 30px;
  margin-top: -5px;
  font-size: 17px;
  color: hsl(228, 12%, 48%);
  font-weight: 400;
}

.title {
  line-height: 110%;
  font-family: "Alkalami", serif;
  margin: 30px;
  margin-top: -30px;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-size: 32px;
}

.paragraph {
  color: hsl(228, 12%, 48%);
  margin: 30px;
  margin-top: -30px;
  font-size: 17px;
}

.price {
  color: hsl(158, 36%, 37%);
  margin: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.money {
  font-size: 35px;
  font-family: "Fraunces", serif;
  font-weight: 500;
}

.sold {
  text-decoration-line: line-through;
  color: hsl(228, 12%, 48%);
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 10px;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 230px;
}

.fa-cart-shopping,
.text {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

/*Media Queries*/

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container_box {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 637px;
    width: 350px;
    border-radius: 15px;
  }

  .img1 {
    display: none;
  }

  #image_2 {
    display: inherit;
    height: 300px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px 10px 0px 0px;
  }

  .article {
    border-radius: 0px 0px 10px 10px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -50px;
  }

  .perfume {
    margin: 30px;
    margin-top: 15px;
    font-size: 17px;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
  }

  .title {
    line-height: 110%;
    font-family: "Alkalami", serif;
    margin: 30px;
    margin-top: -10px;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 32px;
  }

  .paragraph {
    color: hsl(228, 12%, 48%);
    margin: 30px;
    margin-top: -30px;
    font-size: 17px;
  }

  .price {
    color: hsl(158, 36%, 37%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -15px;
  }

  .money {
    font-family: "Fraunces", serif;
    font-weight: 500;
    font-size: 35px;
    margin-left: -55px;
  }

  .sold {
    text-decoration-line: line-through;
    color: hsl(228, 12%, 48%);
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    margin-left: -55px;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 230px;
  }

  .fa-cart-shopping,
  .text {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
  }
}
